POSTGRES_DB=recon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
RECON_DB=Host=postgres;Port=5432;Database=recon;Username=postgres;Password=postgres
RECON_STORAGE_ROOT=/var/recon/storage
RECON_SCRATCH_ROOT=/tmp/recon
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
